# настройки Django
SECRET_KEY=
DEBUG=

# настройки PostgreSQL
NAME=learning_system
USER=
PASSWORD=
DATABASE_HOST=db
PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=11111

# настройки email
EMAIL_HOST=
EMAIL_PORT=
FROM_EMAIL=
RECIPIENT_EMAIL=
APP_PASSWORD=
EMAIL_USE_TLS=
EMAIL_USE_SSL=

# настройки Redis
LOCATION=

# настройки stripe
STRIPE_API_KEY=

# настройки Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
